<ion-content>
  <div class="title-container">
    <ion-text color="primary" class="hipodromo-texto">Hipodromo La Rinconada</ion-text>
    <ion-icon class="hipodromo-icono" name="star-outline" color="primary" size="large"></ion-icon>
  </div>
  <div color="secondary" class="subtitle-container">El hipodromo #1 de Venezuela!</div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
      <ion-card>
        <ng-container *ngIf="submissionType === 'join'">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input #emailInput="ngModel" ngModel type="email" name="email" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!emailInput.valid && emailInput.touched">
          Por favor, ingrese su email
        </ion-text>
      </ng-container>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input #nameInput="ngModel" ngModel type="text" name="name" required></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!nameInput.valid && nameInput.touched">
        Por favor, ingrese su nombre
      </ion-text>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input #passwordInput="ngModel" ngModel type="password" name="password" required></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!passwordInput.valid && passwordInput.touched">
        Por favor, ingrese su contraseña
      </ion-text>
    </ion-card>
    <ion-button [disabled]="!form.valid" type="submit" shape="round" expand="block">
      {{submissionType === 'login' ? 'Iniciar Sesion' : 'Registrate'}}
    </ion-button>
  </form>
  <div class="toggle-text">
    {{ submissionType === 'login' ? 'Nuevo en La Rinconada?' : 'Ya existente en La Rinconada?'}}
    <ion-text (click)="toggleText()" color="primary">
      {{ submissionType === 'login' ? 'Registrate' : 'Inicia sesion'}}
    </ion-text>
  </div>

</ion-content>
